{% extends 'base.html.twig' %}

{% block title %}New EtatProduit{% endblock %}

{% block body %}
    <h1>Create new EtatProduit</h1>

    {{ include('etat_produit/_form.html.twig') }}

    <a href="{{ path('etat_produit_index') }}">back to list</a>
{% endblock %}
