<form method="post" action="{{ path('marque_produit_delete', {'marque_id': marque_produit.marque_id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque_produit.marque_id) }}">
    <button class="btn">Delete</button>
</form>
