{% extends 'base.html.twig' %}

{% block title %}New MarqueProduit{% endblock %}

{% block body %}
    <h1>Create new MarqueProduit</h1>

    {{ include('marque_produit/_form.html.twig') }}

    <a href="{{ path('marque_produit_index') }}">back to list</a>
{% endblock %}
