{% extends 'base.html.twig' %}

{% block title %}Edit Parametres{% endblock %}

{% block body %}
    <h1>Edit Parametres</h1>

    {{ include('parametres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parametres_index') }}">back to list</a>

    {{ include('parametres/_delete_form.html.twig') }}
{% endblock %}
